h1, div, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #999;
  font-weight: normal;
}

/* HEADER */

header {
  text-align: center;
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-bottom: 5%;
}

.title {
  color: #555;
  letter-spacing: 6px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 45px;
  font-weight: 900;
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 18px;
  color: #555;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 16px;
  padding-top: 8px;
  border-bottom: 4px solid #555;
}

.contact {
  padding-top: 16px;
  color: #999;
  display: block;
  cursor: pointer;
  font-weight: 400;
}

.contact:hover {
  color: deepskyblue;
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
    letter-spacing: 3px;
  }
}